body{margin:0;font-size:14px;}
.indexhere{margin-right:20px;}
ul{margin: 0;padding:0;border-bottom: 1px solid #eee;}
li{display: inline-block;vertical-align: bottom;width:100%;border-top:1px solid #eee; padding: 5px 10px;}
.bigger-font{font-size:18px;font-weight:bold;}